h1 {
    font-family: 'Lobster', cursive;
    font-size:5em;
}

html, 
body {
    height:100%;
    margin:0%;
    font-family:"Trebuchet MS", Verdana, sans-serif;
    font-size:1.1em;
}

section {
    height:100vh;
}

#kalatori {
    background:lightblue;
}

#markkinat {
    background:lightgreen;
}

#hinnasto {
    background:lightsalmon;
}

#otayhteytta {
    background:lightgoldenrodyellow;
}

#sijainti {
    background:lightslategrey;
}

#topBtn {
    display:none; /*ei näy aluksi*/
    position:fixed;
    bottom:20px;
    right:30px;
    z-index:top;
    font-size:2em;
    border:none;
    outline:none;
    background-color:#0000ff;
    color:#ffffff;
    padding:15px;
    border-radius:4px;
}

#topBtn:hover {
    background-color:#555;
}
header {
    background-color:#ffffff;
    width:100%;
    text-align:center;
    height: 60px;
}

#paikkakartta {
    width:45%;
    float:left;
}

#hintataulukko{
    width:45%;
    float:left;
}

#hinta-alue{
    display:flex;
    justify-content: center;
}

ul.navi {
    width:fit-content;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    height:60px;
  }
  
  .navi li {
    float: right;
  }
  
  .navi li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navi a:hover:not(.active){
      background-color:#cccccc
  }

  .navi .active{
      background-color:#999999
  }

img.round {
    border-radius: 50%;

}

#kuvat {
    width:100%;
    display:flex;
    justify-content: center;
}

section {
    height:100vh;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}