body{
    margin: 0;
}

.etusivu{
    background-image: url("../kuvat/packraft/Taitokisakuvat-5.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    position: relative;
}

.navi{
    top:0;
    display: flexbox;
    width: 100%;
    height: 5.5vh;
    background-color: #5abcb9;
    position:absolute;
}

h2{
    margin:0;
}

.boxi1{
    font-size: 3vh;
    top:0;
    display: flex;
}

ul{
    list-style-type: none;
    display: inline-flex;
    font-size: 2.5vh;
    margin:1.5vh
}

li{
    margin-left: 1vh;
}

.boxi2{
    justify-content: flex-end;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.tausta{
    background-color: rgba(90, 188, 185, 0.5);
    height: 45vh;
    width: 90vw;
    margin-left:5vw;
    top:10vh;
    position: relative;
}

.teksti{
    position: absolute;
    top:10vh;
    width: 85vw;
    left: 7.5vw;
    font-size: 3.1vh;
    font-family: 'Sniglet', cursive;
}

.galleria{
    height: 30vh;
}

.slide-container {
    overflow: auto;
    white-space: nowrap;
}

img{
    height: 25vh;
}

.otsikko{
    font-size: 4vh;
    text-align: center;
}